@font-face {
  font-family: 'mw-share-buttons';
  src: url('../font/mw-share-buttons.eot');
  src: url('../font/mw-share-buttons.eot')  format('embedded-opentype'),
       url('../font/mw-share-buttons.ttf')  format('truetype'),
       url('../font/mw-share-buttons.woff') format('woff'),
       url('../font/mw-share-buttons.svg')  format('svg');
  font-weight: normal;
  font-style: normal;
}

@import 'component/*';
